*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: black;
    color: white;
    font-family: "poppins",sans-serif;
}
.navbar{
    position: absolute;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 12%;
    z-index: 10;
}
.navbar_netflix{
    width: 125px;
    height: 100%;
}
.navbar_navitems{
    display: flex;
    gap: 10px;
}
.logo{
    width: 100%;
    height: 100%;
}
.language_dropdown{
    background-color: transparent;
    border: none;
    color: white;
}
.dropdown{
    border: 1px solid white;
    padding: 0.4em;
    background:rgba(0,0,0,0.4);
    border-radius: 4px;
}
.signin{
    border: #dc030f;
    background-color:#dc030f ;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    height: 33px;
    width: 100px;
}
.banner_image{
    width: 100%;
    height: 100%;
}
.bg_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg_overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.3);
}
.bgtext{
    position: absolute;
    top: 50%;
    left: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bg_title{
    font-weight: 600;
    font-size: 3rem;
}
.bg_subtitle,.bg_description{
    font-weight: 400;
    font-size: 2rem;    
}
.email{
    width: 450px;
    height: 60px;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    border-color: white;
    
}
.get_started{
    font-size: large;
    width: 170px;
    height: 60px;
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
}
.card1,.card2,.card3{
    border-top: 8px;
    border-color: gray;
    padding: 50px;
}
.card1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc-1{
    padding-left: 80px;
}
.card1 video{
    position: relative;
    width: 100%;
    height: 54%;
    grid-column: 2/2;
    grid-row:1/2;
    z-index: -1;
    margin: 0px 0px 20px 45px;
}
.card1 img{
    grid-column: 2/3;
    grid-row: 1/2;

}
.style_cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}
.style_cards h3{
    font-size: 1.6rem;
    line-height: 2rem;
}
.card2{
    position: relative;
    display:inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc-2{
    padding-left: 100px;
}
.card3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc-3{
    padding-left: 80px;
    padding-right: 20px;
}
.card3 img{
    width: 110%;
    grid-column: 2/3;
    grid-row: 1/2;
}
.card3 video{
    position: relative;
    top: -87px;
    left: 125px;
    width: 65%;
    height: 78%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}
.footer,
.footer a{
    margin-top: 100px;
    color: #999;
    font-size: 0.9rem;

}
.footer p{
    margin-bottom: 1.5rem;
    padding-left: 200px;
}
.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:8rem;
    padding-left: 200px;
}
.footer li{
    line-height:1.9rem;
}
ul{
    list-style: none;
    text-decoration: underline;
}
.questions{
    text-align: center;
   
   
}
.boxes{
    margin-top: 30px;
    margin-left: 10%;
}
.box{
    
    cursor: pointer;
    width: 80%;
    height: 80px;
    background: #3c3c3c;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left:30px;
    padding-top: 30px;
    margin-top: 10px;
    font-size: 1.6rem;
}
.box:hover{
    background-color: rgb(77, 76, 76);
}
span{
    position: relative;
    left: 90%;
    
    width: 30px;
    height: 30px;
    bottom: 30px;
    font-size: 35px;
    
}
.questions h1{
    font-size: 3rem;
    font-weight: 600px;
}

